@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
.left-sectoion{min-height:700px;}
.loading{min-height:60vh;}
.av-post{
    font-size:1.5rem;
    font-weight:600;
    color:$btn-text;
}
.bg-post{
    background:$bg-white;
    .bg-post-inner{
        padding:30px 30px 30px 30px;
    }
    .icon-feature{
        .btn{
            background:$btn-text;
            border-color:$btn-text;
            color:$text-white;
            padding:8px 12px;
            border-radius:0;
            margin-right:3px;
            &:focus{
                background:$btn-text;
                color:$text-white;
                border-color:$btn-text;
            }
        }
    }
    .post-creater{
        margin:0px 0px 12px 0px;
        font-weight:600;
        text-transform:uppercase;
        text-align:center;
        color:$btn-text;
    }
    .post-title{
        margin:0px 0px 12px 0px;
        font-weight:400;
        text-transform:uppercase;
        text-align:center;
        color:$heading-text;
        font-family: 'Oswald', sans-serif;
        font-size:1.6rem;
        letter-spacing:1px;
    }
    .icon-feature{
        margin-top:10px;
    }
    .t-trc{
       
    }
    .date{
        color:$btn-text;
    }
    
}
.r-post-main{
    h5{
        position: relative;
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        color:$heading-text;
        margin-bottom:15px;
        &::before{
            content:"";
            position:absolute;
            left:0;
            top:0;
            height:1px;
            width:100%;
            background:#dbdbdb;
        }
        span{
            display:inline-block;
            background:$body-bg;
            position:relative;
            top:-8px;
            z-index:5;
            padding:0px 16px;
        }
    }
    .s-recent{
        .r-p-img{
            width:100%;
            max-width:90px;
            margin-right:15px;
        }
    }
    .d-title{
        h6{
            font-weight:400;
            margin:0px 0px 7px 0px;
        }
        .r-date{
            font-size:11px;
            color:#545454;
        }
    }
}

.p-desc{
    span{
        p{
            margin:0; display:inline;
        }
        h1{
            margin:0; display:inline;  
        }
        h2{
            margin:0; display:inline;
        }
        h3{
            margin:0; display:inline;
        }
        h4{
            margin:0; display:inline;
        }
    }
}










