$body-bg:#f7f7f7;
$body-text:#161616;
$heading-text:#000000;
$btn-text:#EF9D87;
$link-active-text:#EF9D87;
$navbar-bg:#ffffff;
$nav-text:#777777;
// font-size
$drfault-size: 16px;

// themesetting
$theme-bg: $body-bg;
$theme-text: $body-text;
// $theme-active-link: $color-oranger;


