@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.page-bg{
    background:$bg-white;
    padding:35px;
    h1{
        font-family: 'Oswald', sans-serif;
        font-weight:400;
        font-size:1.7rem;
        letter-spacing:2px;
        margin:0px 0px 35px 0px;
    }
}
.about-text {
    img{
        margin:0px 0px 24px 66px;
        border-radius:50%;
    }
}
.form-post {
    label{font-size:1.1rem; font-weight:600; margin-bottom:2px;}
    .form-control{
        -webkit-border-radius:0;
        border-radius:0;
        padding:10px;
        height:auto;
    }
    .form-btn{
        .btn{
            -webkit-border-radius:0;
            border-radius:0;
        }
    }
}
 




