@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.page-bg{
    background:$bg-white;
    padding:35px;
    h1{
        font-family: 'Oswald', sans-serif;
        font-weight:400;
        font-size:1.7rem;
        letter-spacing:2px;
        margin:0px 0px 35px 0px;
    }
    .bg-post-inner{
        padding:30px 30px 30px 30px;
        .post-creater{
            margin:0px 0px 12px 0px;
            font-weight:600;
            text-transform:uppercase;
            text-align:center;
            color:$btn-text;
        }
        .post-title{
            margin:0px 0px 12px 0px;
            font-weight:400;
            text-transform:uppercase;
            text-align:center;
            color:$heading-text;
            font-family: 'Oswald', sans-serif;
            font-size:1.6rem;
            letter-spacing:1px;
        }
    }
}
.about-text {
    img{
        margin:0px 0px 24px 66px;
        border-radius:50%;
    }
}
.form-post {
    label{font-size:1.1rem; font-weight:600; margin-bottom:2px;}
    .form-control{
        -webkit-border-radius:0;
        border-radius:0;
        padding:10px;
        height:auto;
    }
    .form-btn{
        .btn{
            -webkit-border-radius:0;
            border-radius:0;
        }
    }
}
.c-info{
    font-size:1.3rem;
    a{
        font-weight:600; 
        color:#084298; 
        text-decoration:underline;
        &:hover{
            text-decoration:none;
        }
    }
} 
.info-text{
    font-size:1.2em;
    margin-bottom:20px;
}
.b-text{
    text-align:left;
}

